NEXT_PUBLIC_BOTCHAIN_CHAIN_ID=677
NEXT_PUBLIC_BOTCHAIN_RPC_URL=https://rpc.botchain.ai
NEXT_PUBLIC_BOTCHAIN_EXPLORER_URL=https://scan.botchain.ai

NEXT_PUBLIC_BOTLAUNCH_ADDRESS=0xA1d534dB780c2f82078A3204568289b4604eaFC3
NEXT_PUBLIC_BOTTOKEN_ADDRESS=0x7098adCB452De319A5971fA2da65AB00e3904651

# Deployer Private Key for Hardhat on Botchain Mainnet (Never commit real private keys)
PRIVATE_KEY=
